<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body >
    <div th:object="${event}">
        <h1>Sucess!!</h1>
        <h1>You have successfully registered for the event:</h1>
        <h2 th:text="*{eventName}"></h2>
        <h2 th:text="${#dates.format(new java.util.Date(event.eventDate), 'dd-MM-yyyy')}"></h2>
    </div>
    

    <a th:href="@{/events/listing}">Back to event listing</a>
</body>
</html>